.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('img/beer.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.text-center {
    height: 50px;
}
.about {
    max-width: 90%;
    width: 100%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 100px;
    margin-top: 50px;
}

